// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$link-decoration: none;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here


$custom-colors: (
				"BNCpri": #074047,
				"BNCsec": #A8896C,
				"BNCacc": #4A6C2F,
				"BNCbg": #F5F7F6,

);





$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

// 5. Du kan lave styling her...

//styling af siderne
body {
  background: #F5F7F6;
  color: #0A0A0A;
  font-size: 1rem;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5rem;
}

main {
  margin-left: 6rem;
  margin-right: 6rem;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Merriweather", serif;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 2.625rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.875rem;
}

h3 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.425rem;
}

//navbar
.navbar {
  background-color: #074047;
  padding: 1rem;
}

.nav-link {
  padding: 0.5rem;
}